* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: white;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    max-width: 950px;
    margin-top: 25px;
  }

  .box {
    background-color: black;
    margin-top: 20px;
  }

  #mapid { height: 400px; }